<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tutoring Service Management System</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                <h1>Tutoring Service Management System</h1>
            </div>

        </div>

        <div id="page_content">

            <div class="left_side_bar">

                <div class="col_1">
                    <div class="box">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/client">Client</a></li>
                            <li><a href="/tutor">Tutor</a></li>
                            <li><a href="/supervisor">Supervisor</a></li>
                            <li><a href="/appointments">Appointments</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="right_section">
                <div class="common_content">
                    <h2>Appointments</h2>
                    <hr>
                    <form accept-charset="UTF-8" action="/search_appointments" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Search for Appointments:</legend> 
                            <label for="appointment_id">Appointment ID : </label><input name="consult_id" type="text"value="" /> <br />
                            <label for="tutor_id">Tutor ID : </label> <input name="tutor_id"type="text" value="" /> <br />
                            <label for="client_id">Client ID : </label> <input name="client_id"type="text" value="" /> <br />
                            <input type="submit" value="Search" onclick="loading();">
                        </fieldset>
                    </form>
                    
                    <div class="common_content">
                        <h2>Appointment View</h2>
                        <hr>
                        {% for item in apt%}
                        <table class="base_qry_render">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                        {% for key, value in item.items() %}
                                            <tr>
                                                <td>{{key}}</td>
                                                <td>{{value}}</td>
                                            </tr>
                                        {% endfor %}
                            </tbody>
                        </table>
                        <br />
                        {% endfor %}
                </div>

            <div class="clear"></div>

        </div>

    </div>

</body>

</html>